<!-- 
  Copyright (C) 2023 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import Icon from '../../components/Icon.vue';
import Container from '../../components/main/Container.vue';
import ModalDialog from '../../components/ModalDialog.vue';
import {
  createLocation,
  deleteLocation as deleteLocationAPI,
  getLibrary,
  LocationTypes,
  rescanLocation as rescanLocationAPI
} from '../../services/libraries';

export default {
  data() {
    return {
      library: null,
      libraryLocationTypesObj: LocationTypes,
      libraryLocationTypes: Object.values(LocationTypes).sort((o1, o2) => {
        return o1.Order > o2.Order;
      }),
      showLocationModal: false,
      newLocation: null
    }
  },
  components: {
    Container,
    Icon,
    ModalDialog
  },
  mounted() {
    // initial data load
    this.reloadLibrary();
  },
  methods: {
    initialLibraryLocation() {
      return {
        id: null,
        location: null,
        type: LocationTypes.LocalFolder.ID,
        user: null,
        password: null,
        region: null
      }
    },
    reloadLibrary() {
      getLibrary({id: this.$route.params.libraryID, includeLocations: true}).then(library => {
        this.library = library;
      });
    },
    showNewLocation() {
      this.newLocation = this.initialLibraryLocation();
      this.showLocationModal = true;
    },
    onCreateLocationClick() {
      createLocation({
        libraryID: this.library.id, type: this.newLocation.type, location: this.newLocation.location,
        user: this.newLocation.user, password: this.newLocation.password, region: this.newLocation.region
      }).then(_ => {
        this.showLocationModal = false;
        this.reloadLibrary();
      });
    },
    onCreateLocationClosed() {
      this.showLocationModal = false;
    },
    rescanLocation(location) {
      rescanLocationAPI({libraryID: this.library.id, id: location.id}).then(_ => {
        // no action required; TODO: maybe show message? 
      });
    },
    deleteLocation(location) {
      if (!confirm("Delete Location ''" + location.location + "'")) {
        return;
      }

      deleteLocationAPI({libraryID: this.library.id, id: location.id}).then(_ => {
        this.reloadLibrary();
      });
    }
  }
}
</script>

<template>
  <Container>
    <template #title>{{ library ? library.name : "loading..." }}</template>
    <span><!-- TODO: add some stats here --></span>
  </Container>
  <Container>
    <template #title>Locations</template>
    <template #titleArea>
      <a class="cursor-pointer" v-on:click="showNewLocation()">
        <Icon name="plus"/>
      </a>
    </template>
    <ul>
      <li class="mt-1 flex gap-2 items-baseline" v-for="location in library ? library.locations : null">
        <span class="flex-auto">{{ location.location }}</span>
        <button class="flex-none" @click="rescanLocation(location)">Rescan</button>
        <button class="flex-none" @click="deleteLocation(location)">Delete</button>
      </li>
    </ul>
  </Container>
  <ModalDialog v-if="showLocationModal" @close="onCreateLocationClosed()">
    <template #title>
      <span>Create Location</span>
    </template>
    <template #buttons>
      <button @click="onCreateLocationClick()">Create</button>
      <button @click="onCreateLocationClosed()">Cancel</button>
    </template>
    <div>
      <label for="type">Type</label>
      <select id="type" v-model="newLocation.type" :disabled="newLocation.id">
        <option v-for="libraryLocationType in libraryLocationTypes" :value="libraryLocationType.ID">
          {{ libraryLocationType.Name }}
        </option>
      </select>
    </div>
    <div v-if="newLocation.type == libraryLocationTypesObj.LocalFolder.ID" class="mt-1">
      <label for="location">Location</label>
      <input type="text" id="location" v-model="newLocation.location" placeholder="/home/media"/>
    </div>
    <div v-if="newLocation.type == libraryLocationTypesObj.S3Bucket.ID" class="mt-1">
      <label for="location">Host</label>
      <input type="text" id="location" v-model="newLocation.location"
             placeholder="https://s3.eu-central-1.amazonaws.com"/>
    </div>
    <div v-if="newLocation.type == libraryLocationTypesObj.S3Bucket.ID" class="mt-1">
      <label for="location">Access Key</label>
      <input type="text" id="location" v-model="newLocation.user"/>
    </div>
    <div v-if="newLocation.type == libraryLocationTypesObj.S3Bucket.ID" class="mt-1">
      <label for="location">Secret Key</label>
      <input type="text" id="location" v-model="newLocation.password"/>
    </div>
    <div v-if="newLocation.type == libraryLocationTypesObj.S3Bucket.ID" class="mt-1">
      <label for="location">Region</label>
      <input type="text" id="location" v-model="newLocation.region" placeholder="eu-central-1"/>
    </div>
  </ModalDialog>
</template>
