<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import Container from '../../components/main/Container.vue';
import Icon from '../../components/Icon.vue';
import ModalDialog from '../../components/ModalDialog.vue';
import { Types as LibraryTypes, getLibraries, createLibrary, updateLibrary, deleteLibrary as deleteLibraryAPI, getLanguages } from "../../services/libraries";

export default {
  data() {
    return {
      showModal: false,
      libraries: [],
      libraryTypes: Object.values(LibraryTypes).sort((o1, o2) => {
        return o1.Order > o2.Order;
      }),
      languages: [],
      selectedLibrary: null
    }
  },
  components: {
    Container, Icon, ModalDialog
  },
  mounted() {
    // initial data load
    this.reloadLibraries();
    this.loadLanguages();
  },
  methods: {
    initialLibrary() {
      return {
        id: null,
        name: null,
        type: LibraryTypes.Movie.ID,
        language: "eng"
      }
    },
    showNewLibrary() {
      this.selectedLibrary = this.initialLibrary();
      this.showModal = true;
    },
    loadLanguages() {
      getLanguages().then(response => {
        this.languages = response;
      });
    },
    reloadLibraries() {
      getLibraries().then(response => {
        this.libraries = response;
      });
    },
    editLibrary(library) {
      this.selectedLibrary = library;
      this.showModal = true;
    },
    deleteLibrary(library) {
      if (!confirm("Delete Library ''" + library.name + "'")) {
        return;
      }

      // delete library
      deleteLibraryAPI(library.id).then(_ => {
        this.reloadLibraries();
      });
    },
    onModalClosed() {
      this.showModal = false;
    },
    onCreateClick() {
      this.showModal = false;

      // create new library
      createLibrary({ name: this.selectedLibrary.name, type: this.selectedLibrary.type, language: this.selectedLibrary.language }).then(_ => {
        this.reloadLibraries();
      });
    },
    onUpdateClick() {
      this.showModal = false;

      // update library
      updateLibrary(this.selectedLibrary.id, this.selectedLibrary.name).then(_ => {
        this.reloadLibraries();
      });
    }
  }
}
</script>

<template>
  <Container>
    <template #title>Libraries</template>
    <template #titleArea>
      <a class="cursor-pointer" v-on:click="showNewLibrary()">
        <Icon name="plus" />
      </a>
    </template>
    <ul>
      <li v-for="library in libraries">
        <span class="mt-1 flex gap-2 items-baseline">
          <span class="flex-auto">
            <router-link :to="{ name: 'settings-library', params: { libraryID: library.id } }">{{
              library.name
            }}</router-link>
          </span>
          <button class="flex-none" @click="editLibrary(library)">Edit</button>
          <button class="flex-none" @click="deleteLibrary(library)">Delete</button>
        </span>
      </li>
    </ul>
  </Container>
  <ModalDialog v-if="showModal" @close="onModalClosed()">
    <template #title>
      <span v-if="!selectedLibrary.id">Create Library</span>
      <span v-if="selectedLibrary.id">Update Library</span>
    </template>
    <template #buttons>
      <button v-if="!selectedLibrary.id" @click="onCreateClick()">Create</button>
      <button v-if="selectedLibrary.id" @click="onUpdateClick()">Update</button>
      <button @click="onModalClosed()">Cancel</button>
    </template>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" v-model="selectedLibrary.name" />
    </div>
    <div class="mt-1">
      <label for="type">Type</label>
      <select id="type" v-model="selectedLibrary.type" :disabled="selectedLibrary.id">
        <option v-for="libraryType in libraryTypes" :value="libraryType.ID">{{ libraryType.Name }}</option>
      </select>
    </div>
    <div class="mt-1">
      <label for="lang">Primary Language</label>
      <select id="lang" v-model="selectedLibrary.language" :disabled="selectedLibrary.id">
        <option v-for="language in languages" :value="language.key">{{ language.name }}</option>
      </select>
    </div>
  </ModalDialog>
</template>
