<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script setup>
import MenuEntry from '../../components/menu/Entry.vue';
import MenuTemplate from '../../components/menu/Menu.vue';
</script>

<template>
  <MenuTemplate title="Server">
    <template #entries>
      <ul>
        <li>
          <router-link :to="{ name: 'settings-dashboard' }">
            <MenuEntry text="Dashboard" icon="line-chart" />
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'settings-libraries' }">
            <MenuEntry text="Libraries" icon="clapperboard" />
          </router-link>
        </li>
      </ul>
    </template>
  </MenuTemplate>
</template>
