<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import Icon from "../components/Icon.vue";
import { useUIStore } from "../stores/ui";

export default {
  setup() {
    const uiStore = useUIStore();
    return { uiStore };
  },
  components: {
    Icon
  },
  methods: {
    toggleMenu() {
      this.uiStore.toggleMenu();
    }
  }
}
</script>

<template>
  <div class="bg-gray-800">
    <div class="flex p-2 text-lg font-semibold mms-text-title">
      <div class="flex-none">
        <router-link v-if="uiStore.isSettings" :to="{ name: 'home' }" class="cursor-pointer ml-2" title="Home">
          <Icon name="home" />
        </router-link>
        <a v-if="!uiStore.isSettings" v-on:click="toggleMenu()" class="cursor-pointer ml-2">
          <Icon name="menu" stroke-width="3" />
        </a>
      </div>
      <div class="grow">
        <router-link :to="{ name: 'home' }" class="ml-2">Marty Media Server</router-link>
      </div>
      <div class="flex-none">
        <router-link :to="{ name: 'settings' }" class="cursor-pointer mr-2" title="Settings">
          <Icon name="settings" />
        </router-link>
      </div>
    </div>
  </div>
</template>
