@tailwind base;
@tailwind components;
@tailwind utilities;

.mms-text-title {
    @apply text-gray-100;
}

.mms-text {
    @apply text-gray-200;
}

.mms-text-secondary {
    @apply text-gray-500;
}

.mms-bg {
    @apply bg-gray-900;
}

body {
    @apply mms-text mms-bg;
}

button, .button {
    @apply px-4 py-1 bg-gray-600 rounded-lg mms-text font-semibold;
}

input[type=text] {
    @apply p-0.5 w-full rounded-md text-sm mms-text-secondary shadow-sm;
}

select {
    @apply w-full rounded-md text-sm mms-text-secondary shadow-sm;
}
