<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->

<script>
// https://lucide.dev
import {
  Clapperboard, Film, Home, LineChart, Menu,
  Pause, Play, Plus, RotateCcw, RotateCw, Settings, Volume2, VolumeX, X
} from 'lucide-vue-next';

export default {
  props: {
    name: String
  },
  created() {
    this._icons = {};
    this.register("clapperboard", Clapperboard);
    this.register("film", Film);
    this.register("home", Home);
    this.register("line-chart", LineChart);
    this.register("menu", Menu);
    this.register("pause", Pause);
    this.register("play", Play);
    this.register("plus", Plus);
    this.register("rotate-ccw", RotateCcw);
    this.register("rotate-cw", RotateCw);
    this.register("settings", Settings);
    this.register("volume-2", Volume2);
    this.register("volume-x", VolumeX);
    this.register("x", X);
  },
  computed: {
    icon() {
      let iconFn = this._icons[this.name];
      return function (a, b) {
        // run icon function from lucide
        let icon = iconFn(a, b);

        // avoid icon shrinking
        let width = icon.props.width;
        icon.props.style = "min-width: " + width;

        // return new icon
        return icon;
      }
    }
  },
  methods: {
    register(name, icon) {
      this._icons[name] = icon;
    }
  }
}
</script>

<template>
  <component :is="icon" size="1em" />
</template>

<style>
svg {
  display: inline-block;
  vertical-align: -0.125em;
}
</style>
