<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import { useSlots } from 'vue';
import Icon from './Icon.vue';
import ModalContainer from './ModalContainer.vue';

export default {
  emits: ["close"],
  components: {
    Icon,
    ModalContainer
  },
  data() {
    return {
      slots: useSlots()
    }
  }
}
</script>

<template>
  <ModalContainer>
    <div class="mx-auto bg-gray-800 rounded-lg max-w-xl">
      <div class="flex pt-2 px-2 border-b-2 border-gray-700 mms-text-title">
        <div class="flex-auto text-lg">
          <slot name="title" />
        </div>
        <div class="flex-auto text-right">
          <a @click="$emit('close')" class="cursor-pointer">
            <Icon name="x" />
          </a>
        </div>
      </div>
      <div class="p-2">
        <slot />
      </div>
      <div class="p-2 flex justify-end gap-x-4 border-t-2 border-gray-700" v-if="slots.buttons">
        <slot name="buttons" />
      </div>
    </div>
  </ModalContainer>
</template>
