<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import Container from '../../components/main/Container.vue';
import { getLibrary } from '../../services/libraries';
import { getMedia } from '../../services/media';

export default {
  data() {
    return {
      libraryID: null,
      library: null,
      mediaEntries: null
    };
  },
  components: {
    Container
  },
  created() {
    this.$watch(() => this.$route.params, (_toParams, _previousParams) => {
      this.libraryChanged();
    });
  },
  mounted() {
    this.libraryChanged();
  },
  methods: {
    libraryChanged() {
      // reset library information
      this.libraryID = this.$route.params.libraryID;
      this.library = null;
      this.mediaEntries = null;

      // reload library information
      if (this.libraryID) {
        this.reloadLibrary();
        this.reloadMediaEntries();
      }
    },
    reloadLibrary() {
      getLibrary({ id: this.libraryID }).then(response => {
        this.library = response;
      });
    },
    reloadMediaEntries() {
      getMedia({ libraryID: this.libraryID }).then(response => {
        this.mediaEntries = response;
      });
    }
  }
}
</script>

<template>
  <Container>
    <template #title>{{ library? library.name : "" }}</template>
    <ul class="space-y-2 mt-1">
      <div v-if="(mediaEntries ? mediaEntries.length : 0) == 0">This library is empty</div>
      <li v-for="mediaEntry in mediaEntries" v-bind:key="mediaEntry.id">
        <router-link :to="{ name: 'media', params: { mediaID: mediaEntry.id } }"
          class="flex p-2 font-medium hover:bg-gray-700 rounded-lg">
          <span class="ml-1 leading-4 truncate">{{ mediaEntry.name }}</span>
        </router-link>
      </li>
    </ul>
  </Container>
</template>
