<!-- 
  Copyright (C) 2022 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script>
import Container from '../../components/main/Container.vue';
import { getLibraries } from "../../services/libraries";
import { getMedia } from '../../services/media';

export default {
  data() {
    return {
      libraries: null,
      libraryMedia: {}
    }
  },
  components: {
    Container
  },
  mounted() {
    // initial data load
    this.reloadLibraries();
  },
  methods: {
    reloadLibraries() {
      getLibraries().then(response => {
        this.libraries = response ?? [];

        // update all libraries content / media
        this.libraries.forEach(library => {
          this.reloadMediaEntries(library.id);
        });
      });
    },
    reloadMediaEntries(libraryID) {
      getMedia({ libraryID: libraryID, sort: "createdAt:desc" }).then(response => {
        this.libraryMedia[libraryID] = response;
      });
    }
  }
}
</script>

<template>
  <Container>
    <template #title>Welcome</template>
    <div></div>
  </Container>
  <Container v-for="library in libraries" v-bind:key="library.id">
    <template #title>New in '{{ library.name }}'</template>
    <div>
      <ul class="space-y-2 mt-1">
        <div v-if="(libraryMedia[library.id] ? libraryMedia[library.id].length : 0) == 0">This
          library is empty</div>
        <li v-for="mediaEntry in libraryMedia[library.id]" v-bind:key="mediaEntry.id">
          <router-link :to="{ name: 'media', params: { mediaID: mediaEntry.id } }"
            class="flex p-2 font-medium hover:bg-gray-700 rounded-lg">
            <span class="ml-1 leading-4 truncate">{{ mediaEntry.name }}</span>
          </router-link>
        </li>
      </ul>
    </div>
  </Container>
</template>
